<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaw.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.shaw.blog.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="article_name" jdbcType="VARCHAR" property="articleName" />
    <result column="article_ip" jdbcType="VARCHAR" property="articleIp" />
    <result column="article_click" jdbcType="INTEGER" property="articleClick" />
    <result column="sort_article_id" jdbcType="BIGINT" property="sortArticleId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="article_type" jdbcType="VARCHAR" property="articleType" />
    <result column="article_keyword" jdbcType="VARCHAR" property="articleKeyword" />
    <result column="article_up" jdbcType="TINYINT" property="articleUp" />
    <result column="article_support" jdbcType="TINYINT" property="articleSupport" />
    <result column="pictures" jdbcType="VARCHAR" property="pictures" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
</mapper>